
.homepage{
  padding-left: 15px;
  padding-right: 15px;
  margin: 20px 0;

  .content-box{
    display: grid;
    background: $gray-100;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    gap: 20px;
  
    .campaign{
      background: rgb(232, 232, 232);
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      cursor: pointer;
      // width: 80%;
      padding: 0 25px;

      img{
        margin-top: 30px;
      }

      &:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
    }

    .title{
      margin: 0 auto;
      padding: 10px;
      font-size: 1em;
      text-transform: capitalize;
    }

    hr {
      border: 0;
      height: 2px;
      background: #333;
      background-image: linear-gradient(to right, #ccc, pink, #ccc);
    }

    &__desc{
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
    }

    &__item-left{
      text-transform: capitalize;
      line-height: 1.5;
    }
    
    &__item-right{
      text-transform: capitalize;
      line-height: 1.5
    }

  }
}

@media screen and (max-width: 480px) { 
  .content-box{
    background: $gray-100;
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 20px;
    padding: 15px 0;
  }
}

.goal{
  background-color: pink;
  padding: 10px;
  color: #fff;
}
