.navbar{
    background: #f4f4f4;
    .menu{
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }

    button{
        padding: 15px;
        width: 100px;
        border: none;
        background:burlywood;
        color: #f4f4f4;
        cursor: pointer;
    }
}